main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.interval-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
}

.interval-length-container {
  display: flex;
}

button {
  padding: 5px 10px;
  margin: 0 10px;
  height: 25px;
  background-color: #263646;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eee;
  width: 70px;
  border-radius: 2px;
}

button:disabled {
  cursor: not-allowed;
}

.interval-length {
  font-size: 2rem;
  margin: 0 10px;
}

.timer-container {
  border: 2px solid #000;
  margin-top: 40px;
  border-radius: 25px;
  width: 250px;
  text-align: center;
  padding: 10px;
}

.timer {
  font-size: 2rem;
}

.timer-actions {
  margin-top: 20px;
  text-align: center;
}

#session-container {
  border: 5px solid rgba(38, 54, 70, 0.7);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);
  width: 300px;
  margin: 35px auto;
  border-radius: 25px;
}

.session-timer {
  margin: 0 0 20px 0;
  font-size: 5rem;
  color: #263646;
  font-weight: 400;
}

.session-header {
  margin-top: 20px;
}

#colon {
  position: relative;
  bottom: 7px;
  margin: 0 8px;
}

.timer-alert {
  color: #c44949;
}
